*.dll
*.TXT
sphere_56b/trunk/save/spherechars.scp
sphere_56b/trunk/save/spheredata.scp
*.log
*.exe
sphere_56b/trunk/sphereCrypt.ini
*.ini
sphere_56b/trunk/save/spheremultis.scp
sphere_56b/trunk/save/spherestatics.scp
sphere_56b/trunk/save/sphereworld.scp
sphere_56b/trunk/sphere.pid
sphere_56b/trunk/accounts
sphere_56b/trunk/myt_basic.sql
